.footer {
  background: #000000;
  color: #fff;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #c4c4c4;
}

.footer-contato li {
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-contato a {
  color: #fff;
}

.footer-copy {
  grid-column: 1 / -1;
  color: #8f8f8f;
  font-size: 1.125rem;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}
